body {
    background-color: #fcf8e8;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #ecdfc8;
    border-width: 4px;
    width: 20%
}
h1 {
    color: #df7861
}
h3 {
    color: #ecb390
}